@import 'variables';

$avatar-size: 2.5rem;

.avatar {
  border: 1px solid $fog;
  border-radius: 50%;
  display: inline-flex;
  height: $avatar-size;
  overflow: hidden;
  width: $avatar-size;

  img {
    height: auto;
    width: 100%;
  }
}
