@use '../variables';

$header-height: 2.5rem;

.cell {
  background-color: variables.$pearl;
  border-bottom: 1px solid variables.$fog;
  font-size: 1rem;
  font-weight: 600;
  height: $header-height;
  letter-spacing: 0.00937em;
  line-height: 1.75rem;
  position: sticky;
  text-align: left;
  top: 3.5rem;
  vertical-align: middle;
  will-change: tranform;
  z-index: 1;

  &::after {
    border: inherit;
    bottom: 0;
    content: '';
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
  }
}

.avatar {
  width: 4rem;
}

.player {
  width: 100%;
}

.winnings {
  padding-right: 1.5rem;
  text-align: right;
  width: 8rem;
}

.country {
  width: 6rem;
}
