/// @group color-palette

// greyscale palette from dark to light
$sleeping-panther: #000;
$charcoal: #2e3943;
$graphite: #394654;
$slate: #435363;
$stone: #778089;
$metal: #a9afb4;
$fog: #d6d9dc;
$pearl: #f5f6f6;
$snow: #fff;

// branding colors
$vivid: #00a6f7;
$moss: #21a7b3;
$blue-steel: #567f94;
$alpine: #5679b1;
$grape: #a14ac2;
$merlot: #b74780;
$sunset: #f364ba;
$palisade: #ff7979;
